{% include 'helper/header.html' %}
<!-- category_products.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category.name }} Products</title>
</head>

<body>
    <h1>{{ category.name }} Products</h1>
    <div class="product-container">
        {% if category_products %}
        {% for product in category_products %}
        <div class="product-card">
            <h2>{{ product.name }}</h2>
            <p>Description: {{ product.description }}</p>
            <p>Price: ${{ product.price }}</p>
        </div>
        {% endfor %}
        {% else %}
        <p>No products available in this category.</p>
        {% endif %}
    </div>
</body>

</html>
{% include 'helper/footer.html' %}