{% include 'helper/header.html' %}
<style>
    img {
        height: 225px;
        width: 70px;
    }

    .column {
        float: left;
        width: 25%;
        padding: 0 10px;
    }

    .row {
        margin: 0 -5px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
            display: block;
            margin-bottom: 20px;
        }
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 20px;
        text-align: center;
        margin: 20PX;
    }

    .card-link {
        color: tan;
    }
</style>
<h1>Cart</h1>
<div class="container">
    <h4>Username: {{ cart.user }} - Total Price: {{ cart.total_price }}</h4>

    <div class="row">
        {% for cart_item in cart.cartitem_set.all %}
        <div class="column">
            <div class="card bg-dark text-white" style="width: 18rem;">
                <img class="card-img-top" src="../../{{ cart_item.product.image }}" alt="Card image cap">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-title">{{ cart_item.product.name }}</h5>
                            <p>Quantity: {{ cart_item.quantity }}</p>
                        </div>
                        <div class="col-6 text-right">
                            <p class="card-text">{{ cart_item.product.price }}</p>
                        </div>
                    </div>
                    <p class="card-text">{{ cart_item.product.description }}</p>
                    <form action="{% url 'increment_quantity' cart_item.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">+</button>
                    </form>
                    <form action="{% url 'decrement_quantity' cart_item.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning">-</button>
                    </form>
                    <form action="{% url 'remove_from_cart' cart_item.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Remove from Cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <form id="buyNowFormcart" action="{% url 'buy_now_from_cart' %}" method="post">
        {% csrf_token %}
        <button type="submit">Buy Now</button>
    </form>
</div>
{% include 'helper/footer.html' %}