{% include 'helper/header.html' %}
<style>
    img {
        height: 225px;
        width: 70px;
    }

    .column {
        float: left;
        width: 25%;
        padding: 0 10px;
    }

    .row {
        margin: 0 -5px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
            display: block;
            margin-bottom: 20px;
        }
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 20px;
        text-align: center;
        margin: 20PX;
        color: white;
        background: black;
    }


    .card-link {
        color: tan;
    }
</style>
<h1> Cart...</h1>

<div class="container">
    <div class="row">
        <h4> Username : </h4> {{ cart.user }} - {{ cart.total_price }}
        {% for cart_item in cart.items.all %}
        <div class="column">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../{{ cart_item.image }}">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-title">{{ cart_item.name }}</h5>
                        </div>
                        <div class="col-6 text-right">
                            <p class="card-text">{{ cart_item.price }}</p>
                        </div>
                    </div>
                    <p class="card-text">{{ cart_item.product.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <form id="buyNowFormcart" action="{% url  'buy_now_from_cart' %}" method="post">
            {% csrf_token %}
            <button>Buy Now</button>
        </form>
    </div>
</div>
{% include 'helper/footer.html' %}