{% include 'helper/header.html' %}

<style>
    /* Card CSS styles */
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: 300px;
        /* Adjust the width as needed */
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
    }

    .card:hover {
        transform: translateY(-5px);
    }

    .card-body {
        padding: 20px;
    }

    .card-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .card-text {
        font-size: 16px;
        margin-bottom: 5px;
    }
</style>

<h2>Order Details</h2>
<div class="card-container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Order #: {{ order.id }}</h5>
            <p class="card-text">Name: {{ order.name }}</p>
            <p class="card-text">Email: {{ order.email }}</p>
            <p class="card-text">Address: {{ order.address }}</p>
            <p class="card-text">Order Date: {{ order.order_date }}</p>
            <h3>Ordered Items:</h3>
            <ul>
                {% for ordered_item in ordered_items %}
                <li>{{ ordered_item.product.name }} - Price: {{ ordered_item.product.price }} - Quantity: {{
                    ordered_item.quantity }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% include 'helper/footer.html' %}